[submodule "osa3"]
	path = osa3
	url = https://github.com/henettaja/fullstackopen_part3_backend
[submodule "osa4"]
	path = osa4
	url = https://github.com/henettaja/fullstackopen_part4
[submodule "osa5"]
	path = osa5
	url = https://github.com/henettaja/fullstackopen_part5.git
