.status {
	background-color: rgb(75, 108, 255);
	color: white;
	border-radius: 20px;

	padding: 10px;
	margin: 0 0 20px;
	width: fit-content;
}

.error {
	background-color: rgb(255, 75, 75);
	color: white;
	border-radius: 20px;

	padding: 10px;
	margin: 0 0 20px;
	width: fit-content;
}
